* {
    box-sizing: border-box
}
.kategoriBox{
  font-size: 20px;

  border: 1px solid #828282;
 height: 55px;
width: auto;
}
.regBox {
    border: 1px solid black;
    height: auto;
    width: auto;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
